@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body{
	padding: 0;
	margin: 0;
	text-align: center;
	height: 100%;
	background-color: #000;
	color: #fff;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}

h2{font-size: 5vw;}

a{color:#fff; text-decoration: none;}

a:hover{background-color: #ff0000;}

::selection{background-color: #ff0000;}

nav{display: flex; justify-content: space-around;}

nav a{padding: .2em;}

.pre{width: 100%; margin: 0 auto;}

/*.wrap svg{padding: 0 3em;}*/

.st0{
	fill:none;
	stroke:#fff;
	stroke-linejoin:round;
	stroke-miterlimit:10;
	-webkit-animation: stroke 15s ease-in-out infinite alternate;
	-o-animation: stroke 15s ease-in-out infinite alternate;
	animation: stroke 15s ease-in-out infinite alternate;
}

@keyframes stroke{
	0%{stroke-width: 0;}
	33%{stroke-width: 1;}
	66%{stroke-width: 0;}
	100%{stroke-width: 3;}
}

.st1{fill:#FF0000;}

.wrap{display: none;}

.text p{padding: 0 3em; margin: 0; text-align: justify;}

/* SOCIAL */

.insta{padding: 0 3em;}

.twitter{padding: 0 3em;}

/* CONTACT */

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact {
  margin: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ff0000;
  background: #000;
  color: #fff;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #fff;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #ff0000;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #ff0000;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #fff;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

/* WORK */

.card{
  margin: 2em;
}

.card .ima img{
  display: block;
  width: 100%;
  height: auto;
}

.caption{
  padding: 1.5em;
}

.caption p{
  text-align: center;
}

@media (min-width: 765px){

h2{font-size: 3vw;}

.wrap{display: block;}

.pre{
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 2fr;
}

}

@media (min-width: 1024px){

.pre{width: 75%;}

}